<h1>Add Property</h1>

<form action="/properties" method="POST">

  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">
  </p>

  <br>

  <p>
    <label for="address">Address</label>
    <br>
    <input type="text" id="address" name="address">
  </p>

  <br>

  <p>
    <label for="price">Price</label>
    <br>
    <input type="integer" id="price" name="price">
  </p>

  <br>

  <p>
    <label for="description">Description</label>
    <br>
    <input type="text" id="description" name="description">
  </p>

  <input type="submit" value="Add Property">
</form>
