<form class="" action="/users" method="post">

  <label for="username">Username:</label>
  <input type="username" name="username">
  <br>
  <label for="first_name">First name:</label>
  <input type="first_name" name="first_name">
  <br>
  <br>
  <label for="last_name">Last name:</label>
  <input type="last_name" name="last_name">
  <br>
  <br>
  <label for="email">Email:</label>
  <input type="email" name="email">
  <br>
  <label for="number">Number:</label>
  <input type="number" name="number">
  <br>
  <label for="password">Email:</label>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Signup">
</form>
